{
    "SURFconext": {
        "authorize_endpoint": "https://api.surfconext.nl/v1/oauth2/authorize", 
        "client_id": "REPLACE_ME_WITH_CLIENT_ID", 
        "client_secret": "REPLACE_ME_WITH_CLIENT_SECRET", 
        "token_endpoint": "https://api.surfconext.nl/v1/oauth2/token"
    }, 
    "demo-oauth-app": {
        "authorize_endpoint": "http://localhost/oauth/php-oauth/authorize.php", 
        "client_id": "demo-oauth-client", 
        "client_secret": "foobar", 
        "token_endpoint": "http://localhost/oauth/php-oauth/token.php"
    }, 
    "gdrive": {
        "authorize_endpoint": "https://accounts.google.com/o/oauth2/auth", 
        "client_id": "REPLACE_ME_WITH_CLIENT_ID", 
        "client_secret": "REPLACE_ME_WITH_CLIENT_SECRET", 
        "credentials_in_request_body": true, 
        "redirect_uri": "http://localhost/php-oauth-client/callback.php?id=gdrive", 
        "token_endpoint": "https://accounts.google.com/o/oauth2/token"
    }
}
